@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700");

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-display: swap;
  color: #00155c;
  background-color: #ffe7e3;
}
/* Text */
pre {
  font-family: "Roboto Mono", monospace;
  display: inline;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
h1 {
  font-size: 8rem;
}
h1,
h2 {
  font-size: 2.6rem;
  padding: 0;
  margin: 0;
  line-height: 3.6rem;
}
h3 {
  font-size: 2.4rem;
  line-height: 4rem;
  margin: 0;
}
.red-text {
  color: #ff6f56;
}
h4,
p,
.like-h4 {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-top: 0;
}
p {
  margin: 0;
}
#crash-button-text {
  font-weight: 500;
  font-size: 2rem;
  color: #ffe7e3;
  text-align: center;
  text-transform: uppercase;
  width: 10rem;
}
.weather-text {
  position: absolute;
  width: 28rem;
}

/* Layout */
[class*="col"] {
  margin: 2rem;
  max-width: 32rem;
  width: 100%;
}
.col-1 {
  max-width: 32rem;
  width: 100%;
}
.flexbox {
  display: flex;
  margin: auto;
  margin-bottom: 10rem;
  max-width: 36rem;
}
header {
  padding: 2rem;
}
.wrap {
  flex-wrap: wrap;
}
header .col-1 {
  width: auto;
}
.title .inner-title {
  margin: 2rem;
}
.quote {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
}
.social-div {
  margin: 2rem 0;
}
/* Images */
.smiley {
  width: 4rem;
  margin-top: 1.2rem;
}
#crash-button {
  background-image: linear-gradient(-180deg, #fa5f33 0%, #ff6f56 79%);
  box-shadow: 0 4px 16px 0 rgba(254, 41, 41, 0.54);
  border-radius: 11rem;
  width: 16rem;
  height: 16rem;
  margin: auto;
  margin-top: 8rem;
  text-align: center;
  padding: 5rem 2rem;
}
#crash-button:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 4px 30px 0 rgba(254, 41, 41, 0.54);
}
#crash-button:active {
  transition: box-shadow 0.2s;
  box-shadow: 0 0px 0px 0 rgba(254, 41, 41, 0.54);
}
.ghost {
  height: 20rem;
  animation: ghostDanceVertical 3s ease-in-out infinite;
}
.horizontal-ghost {
  height: 20rem;
  animation: ghostDanceHorizontal 5s ease-in-out infinite;
}
.wheel {
  position: absolute;
  width: 2rem;
  margin-top: 23.9rem;
  animation: wheelsAnimation 0.9s linear infinite;
}
#wheel1 {
  left: 7rem;
}
#wheel2 {
  right: 7rem;
}

/* Animation */
@keyframes wheelsAnimation {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.path {
  animation: animateShape 30s cubic-bezier(0.21, 0, 0.63, 1) infinite;
}

@keyframes drive {
  100% {
    background-position: 100% 0%;
  }
}
@keyframes ghostDanceVertical {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -ms-transform: translate(0, 2rem);
    -webkit-transform: translate(0, 2rem);
    transform: translate(0, 2rem);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes ghostDanceHorizontal {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -ms-transform: translate(20rem, 0);
    -webkit-transform: translate(20rem, 0);
    transform: translate(20rem, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#longboard {
  animation: drive 3s linear infinite;
}

/* Media queries */

@media screen and (min-width: 720px) {
  h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .quote {
    font-size: 4rem;
  }
  .flexbox {
    max-width: 72rem;
    margin-bottom: 15rem;
  }
  [class*="col"] {
    max-width: none;
    height: 32rem;
  }
  .col-1 {
    width: 32rem;
  }
  header .col-1 {
    width: 32rem;
  }
  .col-2 {
    width: 68rem;
  }
  .smiley {
    height: 80%;
    width: auto;
  }
  #temp-bubble {
    display: block;
  }
}

@media only screen and (min-width: 1095px) {
  /* chrome doesnts count scrollbar width 15px */
  h1 {
    font-size: 5.5rem;
    line-height: 6.8rem;
  }
  .flexbox {
    max-width: 108rem;
  }
  .title .inner-title {
    margin-left: 38rem;
  }
}
@media only screen and (min-width: 1440px) {
  .flexbox {
    max-width: 144rem;
    margin: auto;
    margin-bottom: 20rem;
  }
}
